.container {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  border-radius: 10px;
}
h1 {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
h2 {
  font-size: 15px;
  margin-top: 20px;
}
form {
  margin-bottom: 20px;
}

li {
  list-style: none;
  margin-top: -0px;
}
ul {
  padding: 0;
}
.temp {
  font-size: 70px;
  margin-right: 50px;
}
.time {
  font-size: 15px;
}
.humid {
  font-size: 12px;
  text-align: left;
  padding: 0;
  margin-top: 60px;
}
.wind {
  font-size: 12px;
  text-align: left;
  margin: 0;
}

.col-4 {
  font-size: 100px;
  text-align: center;
}
.card {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(89, 196, 233) 0%,
    rgb(193, 181, 232) 90%
  );
}
.coder {
  text-align: center;
  font-size: 12px;
}
.button {
  font-size: 14px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(89, 196, 233) 0%,
    rgb(193, 181, 232) 90%
  );
  border-radius: 5px;
}
.city {
  border-radius: 5px;
}
.day {
  font-weight: 700;
}

a {
  text-decoration: none;
}
